# object files
*.o
*.pyc

# executables
*.exe
face-rec
test-image
test-matrix

# folders
build

# image files
*.gif
*.jpg
*.jpeg
*.pgm
*.ppm

# data, log files
*.dat
*.log
*.mat
*.out

# archives
*.tar
*.tgz

# miscellaneous
*~
*.asv
*.swp
.DS_Store
.tags*
